.project {
    transition: all 0.2s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  
  .project-content {
    transition: all 0.2s ease-in-out;
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(28, 29, 37, 0.45);
    backdrop-filter: blur(3px);
    height: 100%;
    width: 100%;
  }
  
  .project-container {
    display: flex;
    flex-direction: column;
    
    gap: 1.75rem;
  }
  
  @media only screen and (min-width: 768px) {
    .project-container {
      flex-direction: row;
    }
  
  }
  
  .project-name {
    color: var(--themecolor-main);
    font-size: var(--font-xlarge);
  
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
  }
  
  .project-description {
    font-size: var(--font-medium);
  }
  
  @media only screen and (min-width: 768px) {
    .project-name {
      font-size: 35px;
  
    }
  
    .project-description {
      font-size: 25px;
    }
  }
  