header {
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0%;
  backdrop-filter: blur(5px);
  z-index: 3;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 50px 50px;

  }
}

.site-logo {
  height: 70px;
  width: 70px;
  margin-top: 5px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social-icons svg {
  height: 2.2rem;
  width: 2.2rem;
}

@media only screen and (min-width: 768px) {
  .social-icons {
    gap: 35px;
  }

  .social-icons svg {
    height: 3rem;
    width: 3rem;
  }

  .social-icons svg:hover {
    fill: var(--themecolor-main);
  }
}
