html {
    background-color: var(--themecolor-background);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


section {

  overflow: hidden;
}

section#header {
  height: 100vh;
}

/* custom scroll bar */
::-webkit-scrollbar-track {
  background: var(--themecolor-background); 
}
 
::-webkit-scrollbar-thumb {
  background: var(--themecolor-blue); 
  border-radius: 100vh;
}

::-webkit-scrollbar {
  width: 0.5em;
}




.intro {
  position: absolute;
  padding: 300px 60px 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: lightblue;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

  z-index: 2;

}
.intro div:nth-child(1) {
  /* left align */
  text-align: left;
  font-weight: 400;
  /* font-size: 1rem; */
  line-height: 1.2;
}

.intro div:nth-child(2) {
  /* font-size:2.5rem; */
  margin-top: 20px;
  font-weight: 600;
  font-size:4rem;
  color: var(--themecolor-intro-main);
}

.intro div:nth-child(3) {
  /* font-size:1rem; */
  margin-top: 40px;
  line-height: 1.5;
  font-weight: 400;
  font-size:1rem;
  color: var(--themecolor-intro-sub);
}

@media only screen and (min-width: 768px) {
  .intro {
    padding: 160px 100px 0px 100px;
    width: 800px;
    height: 600px
    
  }
  .intro div:nth-child(2) {
    font-size:6rem;
  }
  
  .intro div:nth-child(3) {
    font-size:1rem;
  }

}




.social-icons {
  
  display: flex;
  flex-direction: row;
  gap: 20px;
}



.social-icons svg {
  height:2.2rem;
  width:2.2rem;
  
}

@media only screen and (min-width: 768px) {
  .social-icons {
    gap: 35px;
  }

  .social-icons svg {
    height:3rem;
    width:3rem;
  }

  .social-icons svg:hover {
    fill:var(--themecolor-pink)
  }
  /* svg:hover {
    fill:var(--themecolor-pink)
  } */
}

/* navbar */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav {
  transition: all 0.2s ease-in-out;;  
  animation: fadein 0.2s;
  overflow: hidden;
  background: #616161;
  width:max-content;
  padding:0.7rem, 1.7rem;
  position:fixed;
  left:50%;
  transform:translateX(-50%);
  bottom:2rem;
  display:flex;
  gap:1rem;
  border-radius: 2rem;
  z-index: 3;
}


nav a {
  padding:0.9rem;
  border-radius: 50%;
  display:flex;
}

nav a:hover {
  background: #424242;
}


.project {
  transition: all 0.2s ease-in-out;
  padding-top: 100px;
  position:relative;
  display: flex;
	width: 100%;
  gap: 2rem;  
	/* align-items: center; */
}

.project-detail {
  position: absolute;
  bottom:20px;
  width: 100%;
  padding-right: 60px;
  color: var(--themecolor-blue);
}

.project-tech {
  font-size: 17px;
  padding: 20px 0px;
  word-spacing: 15px
}

.project-content {
  padding: 60px 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(28,29,37,0.45);
  backdrop-filter: blur(2px);
  height:100%;
  width:100%;

}


.project-name
{
  color:  lightblue;
	font-size: 30px;
  padding-bottom: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 800;
}

.project-description {
  color:#a8b2d1;
  font-size: 20px;
  
}

@media only screen and (min-width: 768px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr) ;
 }

}





.work-item {
  flex:1;
  display: grid;
  color:lightblue;
  min-height: 300px;
  align-items: center;
}

.work-logo {
  grid-column:1/2;
  grid-row:2/2;
}

.work-description {
  grid-column:2/2;
  grid-row:2/2;
  
}

.work-company {
  font-size: 1.5em;
  color:var(--themecolor-sub)
}

.work-title {
  font-size: 1.25em;
  color:var(--themecolor-pink)
}

.work-timeline {
  grid-column:1/2;
  grid-row:1/2;
  font-weight: 800;
  font-size: 2.5rem;
  /* opacity: 80%;e */
  color: lightblue;
  text-shadow: -0.08em  0.08em darkblue;
}

@media only screen and (min-width: 768px) {
  .work-item {
    display:flex;
    flex-direction: column;
  }
  .work-logo {
    flex:2
  }
  
  .work-description {
    flex:1;
    /* align-items: center; */
  }
  
  .work-timeline {
    flex:1;
    font-weight: 800;
    font-size: 2.5rem;
  }
}








#prelaoder {
  background-image:black url("static/img/loader.gif") no-repeat center center;
  height:100vh;
  width: 100%;
  position: fixed;
}






.hero-icon-main {
  z-index: 2;
  opacity: 0.85;
}

.hero-icon-sub {
  z-index: 1;
  position: relative;
  left:45px;
  opacity: 0.85;

}

.hero-icon {
  display: flex;
  gap:0px;
  width: 100%;
}

.hero-icon-main svg{
  fill: rgb(255, 19, 107);
}
.hero-icon-sub svg{
  fill: rgb(111,111,172);
}
.hero-icon-name {
  color:rgb(255, 19, 107);
  visibility: hidden;
}



@media only screen and (min-width: 768px) {

  .hero-icon svg {
    height:80px;
    width:80px; 
  }

  .hero-icon-sub {
    left:67px;
    opacity: 0.6;
    transition: all 0.2s ease-out;
  }
  .hero-icon-main {
    opacity: 0.85;
    transition: all 0.2s ease-out;
  }

  /* .hero-icon:hover > .hero-icon-sub {
    transform: translate3d(5px,0px,0px);
    transition-duration: 0.2s;
    opacity: 1;
  }

  .hero-icon:hover > .hero-icon-main {
    transform: translate3d(-5px,0px,0px);
    transition-duration: 0.2s;
    opacity: 1;
  }

  .hero-icon:hover > .hero-icon-name {
    animation: fadein 1s ease forwards;
    visibility: visible;
    opacity: 1;
  } */

  .hero-icon.active > .hero-icon-sub {
    transform: translate3d(5px,0px,0px);
    transition-duration: 0.2s;
    opacity: 1;
  }

  .hero-icon.active > .hero-icon-main {
    transform: translate3d(-5px,0px,0px);
    transition-duration: 0.2s;
    opacity: 1;
  }

  .hero-icon.active > .hero-icon-name {
    animation: fadein 1s ease forwards;
    visibility: none;
    opacity: 1;
  }
  

  .hero-icon-name {
    position:relative;
    right:70px;
    top:100px;
    opacity: 0;
    font-size: 30px;
  }
}

#hero-img {
  position:absolute;
  bottom:0%;
  left:50%;
  transform:translateX(-50%);
  width:300px; 
  height:300px;
}

#hero {
  z-index: 4;
}

@media only screen and (min-width: 768px) {
  #hero-img {
    
    width:700px; 
    height:700px;
    
  }

  #hero {
    /* transform: translate3d(100px, 100px,0px) */
  }
} 

:root {
  --themecolor-blue: rgb(194,223,250);
  --themecolor-pink: rgb(255, 19, 107);
  --themecolor-sub: rgb(111,111,172);
  --themecolor-background: rgb(28,29,37);
  --themecolor-intro-main: #DBDFFD;
  --themecolor-intro-sub: #9BA3EB;
  counter-reset: section;
}








.contact-container {
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: space-evenly;

}

#intro-text {
  color: var(--themecolor-blue);
  font-size: 1rem;
  width:60vw;
}



.self-intro {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  #intro-text {
    font-size: 1.5rem;
  }
  .contact-container{
    flex-direction: row;
  }
  .self-intro {
    flex-direction: row;
  }
  }


.workexp {
  display: flex;
  flex:1;
  flex-direction: column;
  gap:4rem;
  
}

@media only screen and (min-width: 768px) {

  .workexp {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;

  }
}

.card {
  position: relative;
  height: 450px;
  width: 100vw;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.project-img{
  position: absolute;
  width: 100%;
  height:100%;
  opacity: 0.25;
  z-index: -1;
}



@media only screen and (min-width: 768px) {

  .card {
    width: 40vw;
    border-radius: 10px;
  }

  .project:hover {
    transform: translateY(-10px);
  }

    /* .project:nth-child(even) {
      transform: translate(0%, 20%);
    } */

  .project:hover > .project-img{
    filter:brightness(100%);
    
  }
}

.project-cta{
  display: flex;
  gap: 30px;
}

.project-cta button {
  color:var(--themecolor-pink);
  background-color: var(--themecolor-sub);
}

svg {
  transition: all 0.2s ease-in-out;
}


.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  backdrop-filter: blur(15px);
  margin-left: 30px;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
  color: var(--themecolor-blue);
  padding-bottom: 120px;
  
}
.header::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: white;
}

.header::before {
  position: relative;
  bottom: 4px;
  counter-increment: section;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--themecolor-blue);
  font-size: 20px;
  font-weight: 400;
}
  

@media only screen and (min-width: 768px) {

  section:not(#header) {
    padding: 0px 120px 120px 120px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: var(--themecolor-blue);
  padding-bottom: 50px;
}

footer span{
  color: red;
}


header {
  width:100vw;
  height:80px;
  position:fixed;
  top: 0%;
  box-shadow: 0 10px 30px -10px black;
  backdrop-filter: blur(10px);
  z-index: 3;
  padding:0px 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo{
  height: 70px;
  width:70px;
  margin-top: 5px;
}

@media only screen and (min-width: 768px) {
  header {
    height:100px;
    padding:0px 50pxï¼›
  }

  
  .site-logo{
    width:80px;
    height:80px;
    margin-top: 10px;
  
  }
  
}