
html {
    background-color: rgb(28,29,37);
    /* backdrop-filter: blur(6px); */
    /* margin:50px */
    
}

/* a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
} */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Noto Sans', sans-serif ;
}

.parallax_wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    perspective: 10px;
    
    /* backdrop-filter: blur(6px); */
    /* margin:50px */
}



.background,
.foreground {
  /* height: 100%;
  width: 100%; */
  z-index: -1;
}


section {
  min-height: 100vh;
  overflow: hidden;
  /* background: url('./static/img/hero.svg'); */
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: lightblue;
  position: absolute;
  backdrop-filter: blur(6px);
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.hero-container div:nth-child(1) {
  font-size:2.5rem;
  font-weight: 600;
}

.hero-container div:nth-child(2) {
  font-size:1rem;
  font-weight: 400;
}


@media only screen and (min-width: 768px){
  .hero-container div:nth-child(1) {
    font-size:8rem;
  }
  
  .hero-container div:nth-child(2) {
    font-size:3rem;
  }
}


.social-icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 20px;
  top: 2.5%;
  right: 2%;
}



.social-icons svg {
  height:2.2rem;
  width:2.2rem;
  
}

@media only screen and (min-width: 768px) {
  .social-icons {
    gap: 35px;
  }

  .social-icons svg {
    height:3.5rem;
    width:3.5rem;
  }

  .social-icons svg:hover {
    fill:var(--themecolor-sub)
  }
}


nav {
  background: darkgrey;
  width:max-content;
  display:block;
  padding:0.7rem, 1.7rem;
  z-index:3;
  position:fixed;
  left:50%;
  transform:translateX(-50%);
  bottom:2rem;
  display:flex;
  gap:1rem;
  border-radius: 2rem;
  backdrop-filter: blur(15px);
}


nav a {
  background: transparent;
  padding:0.9rem;
  border-radius: 50%;
  display:flex;
  color: white;
  font-size: 1.1rem;;
}

nav a:hover {
  background: rgb(0,0,0,0.3);
  color:lightblue;
}


.navbar-link {
  animation: all 0.5s ease-in-out;
}

.navbar-link.active {
  color:var(--themecolor-sub);
}

.project {
  display: flex;
  flex-direction: column-reverse;
	width: 100%;
	height: 100vh;
	overflow: hidden;
  flex:3,1,auto
	/* align-items: center; */
  

}

.project-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}






/* .project span {
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  background-color: lightblue;
  z-index: 2;
  border: 1px solid lightblue;
}
.project span.motion {

  animation: overlay 1.5s ease forwards;
  opacity: 100%;
} */





/* @keyframes overlay {
  50% {
    width:100%;
    left:100;
  }
  100% {
    left:0;
    width:10%;
  }
} */

.project-img {
  width:100vw;
  /* object-fit: cover; */

}

.project-name
{
  color:  lightblue;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 800;
}

.project-description {
  color:var(--themecolor-pink);
  font-size: 1.25rem;
  
}

@media only screen and (min-width: 768px) {
  .project {
    flex-direction: row;
  }
  .project-img {
    width:70vw;
  }
}


section {
  padding-bottom: 70px;
}

@media only screen and (min-width: 768px) {
  section {
    padding-bottom: 100px;
  }
}


.work-item {
  flex:1;
  display: grid;
  color:lightblue;
  min-height: 300px;
  align-items: center;
}

.work-logo {
  grid-column:1/2;
  grid-row:2/2;
}

.work-description {
  grid-column:2/2;
  grid-row:2/2;
  
}

.work-company {
  font-size: 1.5em;
  color:var(--themecolor-sub)
}

.work-title {
  font-size: 1.25em;
  color:var(--themecolor-pink)
}

.work-timeline {
  grid-column:1/2;
  grid-row:1/2;
  font-weight: 800;
  font-size: 2.5rem;
  /* opacity: 80%;e */
  color: lightblue;
  text-shadow: -0.08em  0.08em darkblue;
}

@media only screen and (min-width: 768px) {
  .work-item {
    display:flex;
    flex-direction: column;
  }
  .work-logo {
    flex:2
  }
  
  .work-description {
    flex:1;
    /* align-items: center; */
  }
  
  .work-timeline {
    flex:1;
    font-weight: 800;
    font-size: 2.5rem;
  }
}


::-webkit-scrollbar-track {
  background: black; 
}
 
::-webkit-scrollbar-thumb {
  background: lightblue; 
  border-radius: 100vh;
}

::-webkit-scrollbar {
  width: 0.5em;
}





#prelaoder {
  background-image:black url("static/img/loader.gif") no-repeat center center;
  height:100vh;
  width: 100%;
  position: fixed;
}

.header {
  font-weight: 800;
  color: lightblue;
  text-shadow: -0.08em  0.08em darkblue;
  font-size: 3em;
  padding-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 4em;
    padding-left: 50px;
    padding-bottom: 100px;
  }
}


.header-inview {
  font-weight: 800;
  font-size: 3em;
  white-space: nowrap;
  overflow: hidden;
}


.hero-icon-main {
  z-index: 2;
  opacity: 0.85;
}

.hero-icon-sub {
  z-index: 1;
  position: relative;
  left:45px;
  opacity: 0.85;

}

.hero-icon {
  display: flex;
  gap:0px;
  width: fit-content;
}

.hero-icon-main svg{
  fill: rgb(255, 19, 107);
}
.hero-icon-sub svg{
  fill: rgb(111,111,172);
}
.hero-icon-name {
  color:rgb(255, 19, 107);
  visibility: hidden;
}



@media only screen and (min-width: 768px) {

  .hero-icon svg {
    height:80px;
    width:80px; 
  }

  .hero-icon-sub {
    left:67px;
    opacity: 0.6;
    transition: all 0.2s ease-out;
  }
  .hero-icon-main {
    opacity: 0.85;
    transition: all 0.2s ease-out;
  }

  .hero-icon:hover > .hero-icon-sub {
    transform: translate3d(5px,0px,0px);
    transition-duration: 0.2s;
    opacity: 1;
  }

  .hero-icon:hover > .hero-icon-main {
    transform: translate3d(-5px,0px,0px);
    transition-duration: 0.2s;
    opacity: 1;
  }

  .hero-icon:hover > .hero-icon-name {
    animation: fadein 1s ease forwards;
  }
  

  .hero-icon-name {
    position:relative;
    right:70px;
    top:100px;
    opacity: 0;
    visibility: visible;
    font-size: 30px;
  }
}

#hero-img {
  position:absolute;
  bottom:0%;
  left:50%;
  transform:translateX(-50%);
  width:300px; 
  height:300px;
}

#hero {
  z-index: 4;
}

@media only screen and (min-width: 768px) {
  #hero-img {
    
    width:700px; 
    height:700px;
    
  }

  #hero {
    /* transform: translate3d(100px, 100px,0px) */
  }
} 

:root {
  --typewriterSpeed: 3s;
  --typewriterCharacters: 9;
  --themecolor-blue: ;
  --themecolor-pink: rgb(255, 19, 107);
  --themecolor-sub: rgb(111,111,172);
}

/* #header-greeting::before,
#header-greeting::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#header-greeting::before {
  background: black;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

#header-greeting::after {
  width: 0.2em;
  background: lightblue;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}



@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
} */


#project-container{
  display: flex;
  flex-direction: column;
  gap:10rem;
}

@media only screen and (min-width: 768px) {
  section  {
    margin-left:20px;
    margin-right:20px
  }
}

/* span.blur{
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
} */
.contact-container {
  display:flex;
  flex:1;
  flex-direction: column;
  /* justify-content: space-evenly; */

}

.self-intro {
  /* display: flex;
  flex:1; */
}

@media only screen and (min-width: 768px) {
  .contact-container{
    flex-direction: row;
  }
  }

