:root {
  --themecolor-main: #A5C9CA;
  --themecolor-main-light: #E7F6F2;
  --themecolor-background: #3C4048;
  --themecolor-background-dark: #7d89b1;
  --themecolor-background-light: rgba(87, 95, 155, 0.2);
  --themecolor-default: #cfccc9;
  --nav-blue-dark: #06101a;
  --nav-blue-light: #214971;
  --themecolor-text: #8b949e;

  --themecolor-darkgrey: rgb(33,38,45);
  --themecolor-grey: rgb(33,38,45);

  --font-xsmall: 14px;
  --font-small: 17px;
  --font-medium: 20px;
  --font-large: 26px;
  --font-xlarge: 32px;

  counter-reset: section;
}

body {
  background-color: var(--themecolor-background);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--themecolor-default);
}



section {
  overflow: hidden;
}

section#header {
  height: 100vh;
  background-image: url("../src/static/background.webp");
  background-size: cover;
  /* background-color: var(--themecolor-grey); */
}

.download {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 0.6rem;
  padding: 1.25rem 1.75rem;
  margin-top: 60px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  font-size: var(--font-xsmall);
  background-color: transparent;
  border: 1px solid var(--themecolor-main);
  color: var(--themecolor-main);
}

.download:hover {
  background-color: var(--themecolor-main-light);
}

@media only screen and (min-width: 768px) {
  .download {
    font-size: var(--font-small);
  }
}

/* custom scroll bar */
::-webkit-scrollbar-track {
  background: var(--themecolor-background);
}

::-webkit-scrollbar-thumb {
  background: var(--themecolor-main);
  border-radius: 100vh;
}

::-webkit-scrollbar {
  width: 0.5em;
}

.intro {
  position: relative;
  width: 100%;
  height: 80%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: lightblue;
  z-index: 2;
  font-size: 4rem;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: -0.25rem;
}

.intro div:not(:last-child) {
  margin-top: 20px;
}

.intro-before {
  color: var(--themecolor-background-dark);
  font-size: 11px;
  position: relative;
  top: -40px;
  letter-spacing: 0;
  padding-right: 20px;
  display: none;
}

.intro-after {
  color: var(--themecolor-background-dark);
  font-size: 11px;
  letter-spacing: 0;
  padding-left: 20px;
  display: none;
}

@media only screen and (min-width: 768px) {
  .intro {
    font-size: 8rem;
    margin-top: 130px;
    letter-spacing: -0.4rem;
  }

  .intro-before {
    font-size: 13px;
    top: -80px;
    display: inline;
  }

  .intro-after {
    font-size: 13px;
    display: inline;
  }
}



.bottom-nav {
  overflow: hidden;
  background: rgba(87, 95, 155, 0.2);
  backdrop-filter: blur(15px);
  width: max-content;
  padding: 0.7rem, 1.7rem;
  position: fixed;
  left: 50%;
  bottom: 2rem;
  display: flex;
  gap: 1rem;
  border-radius: 2rem;
  z-index: 3;
}

.bottom-nav a {
  font-size: 30px;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
}

.bottom-nav a:hover {
  background: #06101a;
}


@media only screen and (max-width: 768px) {
  .bottom-nav {
    zoom: 0.75;
  }
}

#intro-text {
  font-size: 20px;
  line-height: 1.5;
  max-width: 700px;
}

.selfie {
  width: 200px;
  height: 200px;
}

.self-intro {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  #intro-text {
    font-size: 25px;
  }
  .contact-container {
    flex-direction: row;
  }
  .self-intro {
    flex-direction: row;
  }
  .selfie {
    width: 300px;
    height: 300px;
  }
}

.project-img {
  transition: all 0.2s ease-in-out;

  filter: brightness(80%);

  width: 100%;
  height: 300px;
  opacity: 0.75;

}

@media only screen and (min-width: 768px) {
  

  .project:hover .project-img {
    filter:none
  }

  .project:hover .project-content {
    box-shadow: 0 8px 32px 0 var(--themecolor-background-light);
  }

  .project-cta a:hover svg {
    fill: var(--themecolor-main);
  }



}

.project-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

svg {
  transition: all 0.2s ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  margin: 60px 0px 40px;
  width: 100%;
  font-size: 3rem;
  text-transform: capitalize;
  white-space: nowrap;
  margin-bottom: 120px;
}

.header::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  /* background-color: white; */
}

.header::before {
  color: var(--themecolor-main);
  position: relative;
  bottom: 4px;
  counter-increment: section;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-size: 20px;
  font-weight: 400;
}
section:not(#header) {
  padding: 0px 20px 120px 20px;
}

@media only screen and (min-width: 768px) {
  section:not(#header) {
    padding: 0px 120px 60px 120px;
  }
  .header {
    font-size: 4rem;
  }
}

/* section#technology {
  background-image: url("../src/static/technology.webp");
  background-size: cover;
} */

